<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6" requestValidationMode="2.0" maxRequestLength="5120" executionTimeout="300"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Shared/Error"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="POST"/>
        <add name="Access-Control-Allow-Headers" value="content-type"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>