.bgc {
  background-color: #FF9501;
}
.ticket header {
  height: 5.0625rem;
  background-color: #fff;
  border-top: 20px solid #F5F5F5;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 1.875rem;
}
.baseInfo{
	font-size: 0.8571428571428571rem;
}
.baseInfo section{
	padding-bottom: 2.5rem;
}
.ticket header h2 {
    font-size: 1rem;
    line-height: 1.25rem;
    height: 1.25rem;
    font-weight: bold;
    margin: 1.25rem 0 0 1.25rem;
    border-left: 2px solid #ffac4f;
    padding-left: 1.25rem;
}
.baseInfo section p{
	height: 2.2142857142857144rem;
	line-height: 2.2142857142857144rem;
}
p span:nth-of-type(1){
	display: inline-block;
	width: 9.285714285714286rem;
	text-align: right;
	margin-right: 0.7142857142857143rem;
}
 section p span:nth-of-type(2){
	font-weight: bold;
}
.productPrice{
	height: 12.857142857142858rem;
}
.productPrice span{
	line-height: 2.142857142857143rem;
}
.proInfo div{
	margin-bottom: 2.4285714285714284rem;
}
.proInfo div span{
	display: inline-block;
	width: 9.285714285714286rem;
	text-align: right;
	line-height: 1.8571428571428572rem;
	vertical-align: top;
}
.proInfo div p{
	display: inline-block;
	font-weight: bold;
	line-height: 1.8571428571428572rem;
	width: 71.42857142857143rem;
}
.productIntroduction_img{
	height: 33rem;
}
.productIntroduction_img div span{
	display: inline-block;
	width: 9.285714285714286rem;
	text-align: right;
	margin-right: 0.7142857142857143rem;
	vertical-align: top;
}
.productIntroduction_img div{
	height: 10.714285714285714rem;
	margin-bottom: 1.4285714285714286rem;
}
.productIntroduction_img #fitstPic{
	display: inline-block;
	width: 14.285714285714286rem;
	height: 10.714285714285714rem;
	background-color: green;
}
#productAlbum .upload_photo{
	display: inline-block;
}
#productAlbum .upload_photo img{
	width: 14.285714285714286rem;
	height: 10.714285714285714rem;
	background-color: royalblue;
	display: inline-block;
	margin-right: 1.4285714285714286rem;
}

.ticket footer {
  margin-top: 1.875rem;
  height: 12.1875rem;
  border-top: 20px solid #F5F5F5;
  padding-left: 7rem;
}
.ticket footer a,
.ticket footer input {
  display: inline-block;
  line-height: 3.125rem;
  text-align: center;
  width: 9.375rem;
  height: 3.125rem;
  background-color: #FF9501;
  color: #fff;
  margin: 2.5rem 2.5rem 0 0;
}
